@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  background-image: url(./images/pattern-hills.svg);
  width: 100%;
  height: 8rem;
}
img:active{
  background-color: hsl(345, 95%, 68%);
 
}